{
  "swagger": "2.0",
  "info": {
    "title": "Claim API",
    "description": "APIs for claims and related objects",
    "version": "1.2.0"
  },
  "host": "claimcenter-claimcenter-v50-3-0-snapshot-app-http-8080.deployment.fleet.guidewire.com:443",
  "basePath": "/rest/claim/v1",
  "schemes": ["https"],
  "paths": {
    "/batch": {
      "post": {
        "summary": "Issue multiple requests at once as a non-transactional batch",
        "description": "Post a list of sub-requests to make against this endpoint.  Sub-requests will be executed serially, in the order they are specified in the \"requests\" property of the input.  Responses to each sub-request will then be batched up and returned all together.  Sub-requests inherit the headers from the main request, with the exception of the GW-Checksum header, but headers can be specified on the sub-request and will override any headers from the main request.",
        "operationId": "batchRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "includeResponseHeaders",
            "in": "query",
            "description": "Controls what response headers, if any, are included for sub-responses.  If unspecified, or set to the value \"*all\", all headers for sub-responses will be returned.  If set to the value \"*none\", no headers for sub-responses will be returned.  Otherwise, this parameter can consist of a comma-separated list of the names of headers that should be included on sub-responses.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "The body of the batch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The batch request itself was well-formed; individual sub-requests may have succeeded or failed",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          }
        }
      }
    },
    "/claims": {
      "get": {
        "summary": "Retrieves a list of claims",
        "description": "Retrieves a list of assigned claims",
        "operationId": "getClaims",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Claim",
          "operationType": "get-collection",
          "resourceType": "Claims"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of claims",
            "schema": {
              "$ref": "#/definitions/ClaimsList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new draft claim",
        "description": "Create a new draft claim",
        "operationId": "createClaim",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Claim",
          "operationType": "post-collection",
          "resourceType": "Claims"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful creation",
            "schema": {
              "$ref": "#/definitions/ClaimResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Retrieve a claim",
        "description": "Retrieve a claim",
        "operationId": "getClaim",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "Claim"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClaimResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a claim",
        "description": "Update a claim",
        "operationId": "patchClaim",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "Claim"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClaimResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/activities": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Returns a list of activities associated with this claim",
        "description": "Returns a list of activities associated with this claim",
        "operationId": "getClaimActivities",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Activity",
          "operationType": "get-collection",
          "resourceType": "ClaimActivities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of activities",
            "schema": {
              "$ref": "#/definitions/ActivityList"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new activity associated with this claim",
        "description": "Creates a new activity associated with this claim",
        "operationId": "createClaimActivity",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Activity",
          "operationType": "post-collection",
          "resourceType": "ClaimActivities"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the details for the newly-created activity",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/activity-assignees": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The list of suggested people, groups, queues, etc. that new activities on this claim can be assigned to",
        "description": "The list of suggested people, groups, queues, etc. that new activities on this claim can be assigned to\n",
        "operationId": "getClaimActivityAssignees",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Assignee",
          "operationType": "get-collection",
          "resourceType": "ClaimActivityAssignees"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "The suggested assignees",
            "schema": {
              "$ref": "#/definitions/AssigneeList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/activity-patterns": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Returns a list of activity patterns that can be used to create activities on this claim",
        "description": "Returns a list of activity patterns that can be used to create activities on this claim",
        "operationId": "getClaimActivityPatterns",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ActivityPattern",
          "operationType": "get-collection",
          "resourceType": "ClaimActivityPatterns"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of activities",
            "schema": {
              "$ref": "#/definitions/ActivityPatternList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/cancel": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "post": {
        "summary": "Cancels and removes the given claim; only allowed on draft claims.",
        "description": "Cancels and removes the given claim; only allowed on draft claims.",
        "operationId": "cancel",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Claim"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/close": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "post": {
        "summary": "Close this claim and transition it to the 'closed' state",
        "description": "Close this claim and transition it to the 'closed' state",
        "operationId": "closeClaim",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Claim"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ClaimCloseRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully closed the claim",
            "schema": {
              "$ref": "#/definitions/ClaimResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/contact-role-owners": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The contact role owners associated with a given claim, including incidents, exposures, policy, and more.",
        "description": "The contact role owners associated with a given claim. This includes the claim, policy, incidents, exposures, matters, negotiations, and evaluations. Worker's comp injury incidents are not included.\n",
        "operationId": "getClaimContactRoleOwners",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "GenericRelation",
          "operationType": "get-collection",
          "resourceType": "ClaimContactRoleOwners"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GenericRelationList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/contacts": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The contacts associated with a given claim",
        "description": "The contacts associated with a given claim",
        "operationId": "getClaimContacts",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ClaimContact",
          "operationType": "get-collection",
          "resourceType": "ClaimContacts"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClaimContactList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new contact on the given claim",
        "description": "Create a new contact on the given claim",
        "operationId": "createClaimContact",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ClaimContact",
          "operationType": "post-collection",
          "resourceType": "ClaimContacts"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/contacts/{contactId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/contactId"
        }
      ],
      "get": {
        "summary": "The details of a specific contact",
        "description": "The details of a specific contact",
        "operationId": "getClaimContact",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ClaimContact"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update the details of the specific contact on the given claim",
        "description": "Update the details of the specific contact on the given claim",
        "operationId": "patchClaimContact",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "ClaimContact"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contact on the given claim",
        "description": "Delete a contact on the given claim",
        "operationId": "deleteClaimContact",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "ClaimContact"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/documents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The documents associated with a given claim",
        "description": "The documents associated with a given claim",
        "operationId": "getClaimDocuments",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ClaimDocument",
          "operationType": "get-collection",
          "resourceType": "ClaimDocuments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new document on the given claim",
        "description": "Create a new document on the given claim",
        "operationId": "createClaimDocument",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ClaimDocument",
          "operationType": "post-collection",
          "resourceType": "ClaimDocuments"
        },
        "parameters": [
          {
            "name": "metadata",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-gw-schema-ref": "#/definitions/ClaimDocumentRequest"
          },
          {
            "name": "content",
            "in": "formData",
            "type": "file"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/ClaimDocumentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/documents/{documentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/documentId"
        }
      ],
      "get": {
        "summary": "The details of a specific document",
        "description": "The details of a specific document",
        "operationId": "getClaimDocument",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ClaimDocument"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClaimDocumentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a document on the given claim",
        "description": "Update a document on the given claim",
        "operationId": "patchClaimDocument",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "ClaimDocument"
        },
        "parameters": [
          {
            "name": "metadata",
            "in": "formData",
            "type": "string",
            "x-gw-schema-ref": "#/definitions/ClaimDocumentRequest"
          },
          {
            "name": "content",
            "in": "formData",
            "type": "file"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/ClaimDocumentResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a document on the given claim",
        "description": "Delete a document on the given claim",
        "operationId": "deleteClaimDocument",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "ClaimDocument"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/documents/{documentId}/content": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/documentId"
        }
      ],
      "get": {
        "summary": "The contents of a document",
        "description": "The contents of a document",
        "operationId": "getDocumentContent",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ClaimDocumentContent"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentContentsResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/dwelling-incidents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Retrieve dwelling incidents on a claim",
        "description": "Retrieve dwelling incidents on a claim",
        "operationId": "getDwellingIncidents",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "DwellingIncident",
          "operationType": "get-collection",
          "resourceType": "ClaimDwellingIncidents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DwellingIncidentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new dwelling incident",
        "description": "Create a new dwelling incident",
        "operationId": "createClaimDwellingIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "DwellingIncident",
          "operationType": "post-collection",
          "resourceType": "ClaimDwellingIncidents"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DwellingIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/DwellingIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/dwelling-incidents/{incidentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/incidentId"
        }
      ],
      "get": {
        "summary": "Retrieve a dwelling incident",
        "description": "Retrieve a dwelling incident",
        "operationId": "getDwellingIncident",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "DwellingIncident"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DwellingIncidentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a dwelling incident",
        "description": "Update a dwelling incident",
        "operationId": "patchDwellingIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "DwellingIncident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DwellingIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/DwellingIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/exposures": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The exposures associated with a given claim",
        "description": "The exposures associated with a given claim",
        "operationId": "getClaimExposures",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Exposure",
          "operationType": "get-collection",
          "resourceType": "ClaimExposures"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExposuresList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new exposure on the given claim",
        "description": "Create a new exposure on the given claim",
        "operationId": "createClaimExposure",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Exposure",
          "operationType": "post-collection",
          "resourceType": "ClaimExposures"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/ExposureResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/exposures/{exposureId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/exposureId"
        }
      ],
      "get": {
        "summary": "The details of a specific exposure",
        "description": "The details of a specific exposure",
        "operationId": "getExposure",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "Exposure"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExposureResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update the details of the specific exposure on the given claim",
        "description": "Update the details of the specific exposure on the given claim",
        "operationId": "patchExposure",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "Exposure"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/ExposureResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the draft exposure",
        "description": "Delete the draft exposure",
        "operationId": "deleteExposure",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "Exposure"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/exposures/{exposureId}/close": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/exposureId"
        }
      ],
      "post": {
        "summary": "Close the exposure",
        "description": "Close the exposure",
        "operationId": "closeExposure",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Exposure"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExposureCloseRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully closed the exposure",
            "schema": {
              "$ref": "#/definitions/ExposureResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/exposures/{exposureId}/validate": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/exposureId"
        }
      ],
      "post": {
        "summary": "Validate the exposure",
        "description": "Validate the exposure",
        "operationId": "validateExposure",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Exposure"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExposureValidationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ExposureValidationResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/fixed-property-incidents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The fixed property incidents associated with a given claim",
        "description": "The fixed property incidents associated with a given claim",
        "operationId": "getClaimFixedPropertyIncidents",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "FixedPropertyIncident",
          "operationType": "get-collection",
          "resourceType": "ClaimFixedPropertyIncidents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new fixed property incident on the given claim",
        "description": "Create a new fixed property incident on the given claim",
        "operationId": "createClaimFixedPropertyIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "FixedPropertyIncident",
          "operationType": "post-collection",
          "resourceType": "ClaimFixedPropertyIncidents"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/fixed-property-incidents/{incidentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/incidentId"
        }
      ],
      "get": {
        "summary": "The details of a specific fixed property incident",
        "description": "The details of a specific fixed property incident",
        "operationId": "getFixedPropertyIncident",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "FixedPropertyIncident"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update the details of a specific fixed property incident",
        "description": "Update the details of a specific fixed property incident",
        "operationId": "patchFixedPropertyIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "FixedPropertyIncident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/FixedPropertyIncidentResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a fixed property incident on the given claim",
        "description": "Delete a fixed property incident on the given claim",
        "operationId": "deleteFixedPropertyIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "FixedPropertyIncident"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/injury-incidents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The injury incidents associated with a given claim",
        "description": "The injury incidents associated with a given claim",
        "operationId": "getClaimInjuryIncidents",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "InjuryIncident",
          "operationType": "get-collection",
          "resourceType": "ClaimInjuryIncidents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InjuryIncidentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new injury incident on the given claim",
        "description": "Create a new injury incident on the given claim",
        "operationId": "createClaimInjuryIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "InjuryIncident",
          "operationType": "post-collection",
          "resourceType": "ClaimInjuryIncidents"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InjuryIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/InjuryIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/injury-incidents/{incidentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/incidentId"
        }
      ],
      "get": {
        "summary": "The details of a specific injury incident",
        "description": "The details of a specific injury incident",
        "operationId": "getInjuryIncident",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "InjuryIncident"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InjuryIncidentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update the details of a specific injury incident",
        "description": "Update the details of a specific injury incident",
        "operationId": "patchInjuryIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "InjuryIncident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InjuryIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/InjuryIncidentResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an injury incident on the given claim",
        "description": "Delete an injury incident on the given claim",
        "operationId": "deleteInjuryIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "InjuryIncident"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/claims/{claimId}/living-expenses-incidents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Retrieve living expense incidents on a claim",
        "description": "Retrieve living expense incidents on a claim",
        "operationId": "getLivingExpensesIncidents",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "LivingExpensesIncident",
          "operationType": "get-collection",
          "resourceType": "ClaimLivingExpensesIncidents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new living expense incident",
        "description": "Create a new living expense incident",
        "operationId": "createClaimLivingExpensesIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "LivingExpensesIncident",
          "operationType": "post-collection",
          "resourceType": "ClaimLivingExpensesIncidents"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/living-expenses-incidents/{incidentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/incidentId"
        }
      ],
      "get": {
        "summary": "Retrieve a living expense incident",
        "description": "Retrieve a living expense incident",
        "operationId": "getLivingExpensesIncident",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "LivingExpensesIncident"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a living expense incident",
        "description": "Update a living expense incident",
        "operationId": "patchLivingExpensesIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "LivingExpensesIncident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/LivingExpensesIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/notes": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The notes associated with a given claim",
        "description": "The notes associated with a given claim",
        "operationId": "getClaimNotes",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Note",
          "operationType": "get-collection",
          "resourceType": "ClaimNotes"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NoteList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new note on this claim",
        "description": "Create a new note on this claim",
        "operationId": "createClaimNote",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Note",
          "operationType": "post-collection",
          "resourceType": "ClaimNotes"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NoteRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "The details of the newly-created note",
            "schema": {
              "$ref": "#/definitions/NoteResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The policy associated with a given claim",
        "description": "The policy associated with a given claim",
        "operationId": "getPolicy",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "Policy"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/coverages": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The policy level coverages associated with a given claim",
        "description": "The policy level coverages associated with a given claim",
        "operationId": "getPolicyCoverages",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "PolicyCoverage",
          "operationType": "get-collection",
          "resourceType": "PolicyCoverages"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyCoverageList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/coverages/{coverageId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/coverageId"
        }
      ],
      "get": {
        "summary": "The policy level coverage associated with a given claim",
        "description": "The policy level coverage associated with a given claim",
        "operationId": "getPolicyCoverage",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "PolicyCoverage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyCoverageResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/endorsements": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The policy endorsements of a given claim",
        "description": "The policy endorsements of a given claim",
        "operationId": "getPolicyEndorsements",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "Endorsement",
          "operationType": "get-collection",
          "resourceType": "PolicyEndorsements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyEndorsementList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/endorsements/{endorsementId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/endorsementId"
        }
      ],
      "get": {
        "summary": "The policy endorsement of a given claim",
        "description": "The policy endorsement of a given claim",
        "operationId": "getPolicyEndorsement",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "Endorsement"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyEndorsementResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/location-based-risk-units": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The location based risk units of a policy associated with a given claim",
        "description": "The location based risk units of a policy associated with a given claim",
        "operationId": "getLocationBasedRiskUnits",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "LocationBasedRiskUnit",
          "operationType": "get-collection",
          "resourceType": "LocationBasedRiskUnits"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationBasedRiskUnitList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/location-based-risk-units/{locationBasedRiskUnitId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/locationBasedRiskUnitId"
        }
      ],
      "get": {
        "summary": "Retrieve a location based risk unit",
        "description": "Retrieve a location based risk unit",
        "operationId": "getLocationBasedRiskUnit",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "LocationBasedRiskUnit"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LocationBasedRiskUnitResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/locations": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The locations associated with a given claim's policy",
        "description": "The locations associated with a given claim's policy",
        "operationId": "getPolicyLocations",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "PolicyLocation",
          "operationType": "get-collection",
          "resourceType": "PolicyLocations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyLocationList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/locations/{locationId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/locationId"
        }
      ],
      "get": {
        "summary": "Details of a location on the given claim's policy",
        "description": "Details of a location on the given claim's policy",
        "operationId": "getPolicyLocation",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "PolicyLocation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PolicyLocationResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/vehicle-risk-units": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The vehicle risk units of a policy associated with a given claim",
        "description": "The vehicle risk units of a policy associated with a given claim",
        "operationId": "getVehicleRiskUnits",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "VehicleRiskUnit",
          "operationType": "get-collection",
          "resourceType": "VehicleRiskUnits"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VehicleRiskUnitList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/policy/vehicle-risk-units/{vehicleRiskUnitId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/vehicleRiskUnitId"
        }
      ],
      "get": {
        "summary": "Retrieve a vehicle risk unit",
        "description": "Retrieve a vehicle risk unit",
        "operationId": "getVehicleRiskUnit",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "VehicleRiskUnit"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VehicleRiskUnitResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/related-objects": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "The list of objects related to this claim",
        "description": "The list of objects related to this claim which can be used as the values for the \"relatedTo\" field on a note or activity. This includes the claim, contacts, unpromoted service requests, service request specialists, exposures, and matters.\n",
        "operationId": "getClaimRelatedObjects",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "GenericRelation",
          "operationType": "get-collection",
          "resourceType": "ClaimRelatedObjects"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "schema": {
              "$ref": "#/definitions/GenericRelationList"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Returns a list of service requests associated with the claim",
        "description": "Returns a list of service requests associated with the claim",
        "operationId": "getServiceRequestsForClaim",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ServiceRequest",
          "operationType": "get-collection",
          "resourceType": "ClaimServiceRequests"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of service requests for a claim",
            "schema": {
              "$ref": "#/definitions/ServiceRequestList"
            }
          }
        }
      },
      "post": {
        "summary": "Adds a service request to the claim",
        "description": "Adds a service request to the claim",
        "operationId": "addServiceRequestToClaim",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ServiceRequest",
          "operationType": "post-collection",
          "resourceType": "ClaimServiceRequests"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the details of the newly created service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "get": {
        "summary": "Retrieves a service request by its id",
        "description": "Retrieves a service request by its id",
        "operationId": "getServiceRequest",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Modifies an existing service request",
        "description": "Modifies an existing service request",
        "operationId": "changeServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the modified service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/accept": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Accepts a service request",
        "description": "Records that the specialist has accepted this service request",
        "operationId": "acceptServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the accepted service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/assign": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Assigns a service request",
        "description": "Assigns a service request",
        "operationId": "assignServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignmentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the assigned service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/cancel": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Cancels a service request",
        "description": "Records that the specialist does not intend to perform any further work on this service request",
        "operationId": "cancelServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the canceled service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/complete-work": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Indicates that the specialist has completed work",
        "description": "Indicates that the specialist has completed work",
        "operationId": "completeRequestedWork",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/decline": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Declines a service request",
        "description": "Records that the specialist has declined to perform this service request",
        "operationId": "declineServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the declined service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/internal-cancel": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Cancels a service request without specialist response",
        "description": "Internally cancels this service request without further input from the specialist",
        "operationId": "internalCancelServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the canceled service request",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/invoices": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "get": {
        "summary": "Retrieves the invoices on a service request",
        "description": "Retrieves the invoices on a service request",
        "operationId": "getServiceRequestInvoices",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ServiceRequestInvoice",
          "operationType": "get-collection",
          "resourceType": "ServiceRequestInvoices"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of the service request's invoices",
            "schema": {
              "$ref": "#/definitions/ServiceRequestStatementList"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new service request invoice",
        "description": "Creates a new service request invoice",
        "operationId": "addInvoice",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ServiceRequestInvoice",
          "operationType": "post-collection",
          "resourceType": "ServiceRequestInvoices"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestStatementRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the details of the newly created invoice",
            "schema": {
              "$ref": "#/definitions/ServiceRequestStatementResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/invoices/{invoiceId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        },
        {
          "$ref": "#/parameters/invoiceId"
        }
      ],
      "get": {
        "summary": "Retrieves a service request invoice by its id",
        "description": "Retrieves a service request invoice by its id",
        "operationId": "getInvoice",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ServiceRequestInvoice"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the the service request invoice",
            "schema": {
              "$ref": "#/definitions/ServiceRequestStatementResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/invoices/{invoiceId}/withdraw": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        },
        {
          "$ref": "#/parameters/invoiceId"
        }
      ],
      "post": {
        "summary": "Withdraws an invoice that has been submitted",
        "description": "Withdraws an invoice that has been submitted",
        "operationId": "withdrawInvoice",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequestInvoice"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRequestInvoiceOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the withdrawn invoice",
            "schema": {
              "$ref": "#/definitions/ServiceRequestStatementResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/service-requests/{serviceRequestId}/submit": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/serviceRequestId"
        }
      ],
      "post": {
        "summary": "Requests service from specialist",
        "description": "Submits the service request to the specialist for acceptance (with optional instruction)",
        "operationId": "submitServiceRequest",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "ServiceRequest"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ServiceRequestOperationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the resulting service request (state)",
            "schema": {
              "$ref": "#/definitions/ServiceRequestResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/submit": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "post": {
        "summary": "Submit this claim and transition it to the 'open' state",
        "description": "Submit this claim and transition it to the 'open' state",
        "operationId": "submitClaim",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Claim"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ClaimSubmitRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully submitted the claim",
            "schema": {
              "$ref": "#/definitions/ClaimResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/validate": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "post": {
        "summary": "Validate a claim",
        "description": "Validate a claim",
        "operationId": "validate",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "custom-action",
          "resourceType": "Claim"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ClaimValidationRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ClaimValidationResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/vehicle-incidents": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        }
      ],
      "get": {
        "summary": "Retrieve vehicle incidents on a claim",
        "description": "Retrieve vehicle incidents on a claim",
        "operationId": "getClaimVehicleIncidents",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "VehicleIncident",
          "operationType": "get-collection",
          "resourceType": "ClaimVehicleIncidents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VehicleIncidentList"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new vehicle incident",
        "description": "Create a new vehicle incident",
        "operationId": "createClaimVehicleIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "VehicleIncident",
          "operationType": "post-collection",
          "resourceType": "ClaimVehicleIncidents"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VehicleIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created",
            "schema": {
              "$ref": "#/definitions/VehicleIncidentResponse"
            }
          }
        }
      }
    },
    "/claims/{claimId}/vehicle-incidents/{incidentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/claimId"
        },
        {
          "$ref": "#/parameters/incidentId"
        }
      ],
      "get": {
        "summary": "Retrieve a vehicle incident",
        "description": "Retrieve a vehicle incident",
        "operationId": "getVehicleIncident",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "VehicleIncident"
        },
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VehicleIncidentResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update a vehicle incident",
        "description": "Update a vehicle incident",
        "operationId": "patchVehicleIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "patch-element",
          "resourceType": "VehicleIncident"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VehicleIncidentRequest"
            }
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated",
            "schema": {
              "$ref": "#/definitions/VehicleIncidentResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a vehicle incident on the given claim",
        "description": "Delete a vehicle incident on the given claim",
        "operationId": "deleteVehicleIncident",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "delete-element",
          "resourceType": "VehicleIncident"
        },
        "parameters": [],
        "responses": {
          "204": {
            "description": "Successful deletion"
          }
        }
      }
    },
    "/graph-schema": {
      "get": {
        "summary": "Return the JSON Schema Draft-7 representation of the claim graph schema",
        "description": "Return the JSON Schema Draft-7 representation of the claim graph schema",
        "operationId": "getClaimGraphSchema",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ClaimGraphSchema"
        },
        "parameters": [
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Whether to pretty-print the returned schema, making it larger but more human readable. Defaults to false.",
            "type": "boolean",
            "default": false
          },
          {
            "name": "inlineTypelists",
            "in": "query",
            "description": "Whether to include all referenced typelist values inline on properties. Defaults to false.",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return the Open API 3.0 representation of the schema",
        "description": "Return the Open API 3.0 representation of the schema",
        "operationId": "getOpenApiSchema",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ClaimApiOpenApiSchema"
        },
        "parameters": [
          {
            "$ref": "#/parameters/prettyPrintSchema"
          },
          {
            "$ref": "#/parameters/filterByUser"
          },
          {
            "$ref": "#/parameters/enablePolymorphism"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/role-constraints": {
      "get": {
        "summary": "All contact role constraints list",
        "description": "All contact role constraints list",
        "operationId": "getContactRolesConstraints",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "childResourceType": "ContactRoleConstraint",
          "operationType": "get-collection",
          "resourceType": "ContactRoleConstraints"
        },
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageOffset"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContactRoleConstraintList"
            }
          }
        }
      }
    },
    "/role-constraints/{contactRoleId}": {
      "parameters": [
        {
          "$ref": "#/parameters/contactRoleId"
        }
      ],
      "get": {
        "summary": "The constraints of the given contact role",
        "description": "The constraints of the given contact role",
        "operationId": "getContactRoleConstraint",
        "produces": ["application/json"],
        "x-gw-extensions": {
          "operationType": "get-element",
          "resourceType": "ContactRoleConstraint"
        },
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/include"
          },
          {
            "$ref": "#/parameters/includeTotal"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
[...]
