package.json
package-lock.json
build.json

# distribution
dist/

# build
build/

# test reports
reports/

tmp/

# Tranlsations
i18n/

# Generated message files
*.messages.json

# Generated metadata files
*.metadata.json

platform/
