/* ------------------------------------*\
   CSS Custom Properties to define base breakpoints
\*------------------------------------ */
$breakpoints: (
  phone: 580px,
  phonewide: 768px,
  tablet: 1024px,
);
